.root-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    .root-main {
        flex-grow: 1;
        flex-shrink: 1;
    }

    .root-status {
        flex-grow: 0;
        flex-shrink: 0;

        border-width: 0.1em;
        border-color: $text-color;
        border-top-style: solid;

        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

html, body, .root-container {
    height: 100%;
    width: 100%;
}

.root-main, .root-status {
    width: 100%;
}

#file-flex {
    display: flex;
    flex-direction: row;
}