.grid-container {
    display: grid;
    grid-template-columns: [treeview-start] 12em [treeview-end mainview-start] 1fr [mainview-end];
    grid-template-rows: [topview-start] 1fr [topview-end statusview-start] 2em [statusview-end];
    grid-template-areas: "treeview mainview"
    "statusview statusview";
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-content: stretch;
    align-items: stretch;
    height: 100%;
}

.treeview {
    grid-area: treeview;
}

.mainview {
    grid-area: mainview;
}

.statusview {
    grid-area: statusview;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.status-left {
    padding: 0.5em;
}

.status-right {
    padding: 0.5em;
}

html, body {
    margin: 0px;
    height: 100%;
    overflow-y: hidden;
}
